
html, body, :global(#root) {
  height: 100%;
}

.page-form{
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0px;
}
.table-search-form .ant-form-item-label{
  text-align: left;
}

.danger{
  color: red;
}
.danger:hover{
  color: #ff3e3e;
}
.refresh-btn{
  margin-left: 8px;
}

.ant-table-body {
  overflow-x: auto !important;
}

.BraftEditor-container {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  height: auto;
}

.ant-form-item-label label{
  width: 100%;
  display: inline-block;
}
.auto-size-label {
  font-size: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  width: 100%;
}
