*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  height: 100vh;
}

html{
  background-color: rgba(0, 0, 0, 0.85);
}

h1{
  font-family: "Whitney A","Whitney B",sans-serif;
  text-align: center;
  font-size: 48px;
  font-weight: 200;
  margin-top: 35vh;
  color: #FFF;
  min-height: 116px;
}


@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  font-size: 28px;
}

.message{
  color: #aaa;
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
}
