<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="renderer" content="webkit">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CocaCms管理后台</title>
  <link rel="icon" href="/static/logo.97d3993b.png" type="image/x-icon">
</head>

<body>
  <!--[if IE]>
  <div id="ie6-warning"><p>您正在使用老版本 Internet Explorer 的内核浏览器，在本页面的显示效果将会有差异。
  <br/>* 如果您使用的是<b>360、腾讯、搜狗</b>等浏览器，建议您设置浏览器为<b>极速模式</b>。
  <br/>* 如果您使用的是<b>IE9</b>及以下版本的IE浏览器，建议您<b>升级</b>到 <a href="https://support.microsoft.com/zh-cn/help/17621/internet-explorer-downloads" target="_blank">Internet Explorer 10</a> 或以下浏览器：
  <br>
  <a href="http://www.mozillaonline.com/" target="_blank"><img src="http://cdn.eqistu.cn/firefox.png" width="14px" height="14px"/> Firefox </a>  &nbsp;&nbsp;
  <a href="http://www.baidu.com/s?wd=chrome" target="_blank"><img src="http://cdn.eqistu.cn/safari.png" width="14px" height="14px"/> Chrome </a> &nbsp;&nbsp;
  <a href="http://www.apple.com.cn/safari/" target="_blank"><img src="http://cdn.eqistu.cn/chrome.png" width="14px" height="14px"/> Safari </a>  &nbsp;&nbsp;
  <a href="http://www.operachina.com/" target="_blank"><img src="http://cdn.eqistu.cn/opera.png" width="14px" height="14px"/> Opera </a></p></div>
  <style type="text/css">
    /*ie6提示*/
    #ie6-warning{width:100%;background:#ffffe1;padding:5px 0;font-size:14px}
    #ie6-warning p{width:960px;margin:0 auto;text-align:center}
  </style>
  <![endif]-->
  <div id="root"></div>
</body>

</html>
